.container {
    padding: 0 10%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.side {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7)
}

.side p {
    color: white;
    font-weight: bold;
    padding: 5%;
    text-align: justify;
    line-height: 1.5;
    font-size: 24px;
}